<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.gocar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.DetailCarActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"/>


        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="60c296b1834a7c2e31bf277e06414291e84ded47" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>